*{
    margin:0;
    padding:0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
body, html{
    margin:0;
    padding:0;
    background:#e7e7e7;
    text-align:center;
}
a{
    color:#87B220;
    text-decoration:underline;
}
a:hover{
    color:#717171;
    text-decoration:none;
}

#container{
    width:780px;
    margin:10px auto;
    padding:0;
    background:#fff;
    text-align:left;
}

#logo{
    margin:0;
    padding:0;
}

.subContainer, #navigation ul{
    width:780px;
    margin:0 auto;    
}
#header{
    text-align:left;
    margin:0;
    padding:30px 0 0 10px;
    height:64px;
    background: url('images/topbg.jpg');
}

#navigation{
    margin:0;
    padding:0;
    background: url('images/menubg.jpg');
    height:34px;
    list-style:none;
}
#navigation li{
    float:left;
    clear:none;
    list-style:none;
}
#navigation li a{
    color:#fff;
    display:block;
    font-size:12px;
    text-decoration:none;
    font-weight:bold;
    padding:10px 18px;
}
#navigation li a:hover{
    color:#fff;
    background: url('images/hovermenu.jpg');
}

h2{
    font-family:'Georgia';
    font-size:25px;
    letter-spacing:-1px;
    margin-top:15px;
    margin-bottom:20px;
    font-weight:normal;
    color:#003e8e;
}
h3{
    font-size:11px;
    font-weight:bold;
    color:#666;
    margin:5px 0;
    
}

p{
    color:#043f4a;
    font-size:11px;    
    line-height:25px;
}
#container ul{
    color:#043f4a;
    font-size:11px;    
    margin:20px 0;
    list-style:none; 
}
#container li{    
    padding-left:25px;
    margin:8px 0;
    list-style:none;
    background:url('../images/content_bullet.png') left bottom no-repeat;
}

input{
    background-color: #FFF;
    color: #999999;
    border: 1px solid #CCC;
    font-size: 11px;
    padding: 3px;
    width:160px;              
}
button{
    background-color:#EFEFEF;
    line-height:11px;
    color: #000;
    border: 1px solid #CCC;
    font-size: 11px;
    height:20px;
    margin: 0;
    padding: 0 5px;
}
form p{
    padding:2px 0;
}

img{
    border:0;
}
img a{
    border:0;
    text-decoration:none;
}
img a:hover{
    border:none;
}

#primaryContent{
    width: 600px;
    padding:20px 55px;
    font-size:11px;
    float:left;
    clear:none; 
}
#primaryContent img{
        float:right;
        clear:none;
        margin:10px;
        margin-right:0;
        padding:1px;
        border: 1px solid #E7E7E7;
}
#primaryContent table {
	margin: 0 auto;
	width: 500px;
}
#primaryContent th {
	font-weight: bold;
	text-align: center;
	background: url('images/th_bg.jpg');
	height: 30px;
	border: 0;
	margin: 0;
}
#bgcont {
	width: 100%;
	margin: 0 auto;
	background: url(images/bg_bottom.jpg) bottom repeat-x #e7e7e7;
}

#footer{
    margin:0 auto;
    margin-bottom:10px;
    height:10px;
    padding:18px 20px;
    clear:both;
    width:740px;
    text-align:left;
    font-size:10px;
    color:#484848;
    background:#f4f4f4;
}
#footer a{
    color:#606060;
    text-decoration:none;
}
#footer a:hover{
    color:#ccc;
    text-decoration:underline;
}

.clear{
    clear:both;
}