<ips:template parameters="$row, $logs, $vehs, $chars, $doors, $items" />
<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">
		<li class="active"><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
	</ul>
</div>

<div class="ipsBox">
	<div class="ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body">
		<div class="ipsVerticalTabbed_tabs ipsLayout_left" id="usercp_tabs">
			<ul>
				<li class="active"><a href="index.php?app=panel&module=character">Lista postaci</a></li>
				<li><a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a></li>
				<li><a href="index.php?app=panel&module=character&section=logs">Logi logowań</a></li>
                                <li><a href="index.php?app=panel&module=tickets">Zgłoszenia</a></li>
                                <li><a href="index.php?app=panel&module=premium">Konto premium</a></li>
			</ul>
		</div>

<div class='ipsVerticalTabbed_content ipsLayout_content ipsBox_container' id='usercp_content'>
<div class='ipsPad'>
<style>
.separator {
height: 1px;
background-color: #ccc;
margin: 15px auto;
}
</style>
<php>
$member = IPSMember::load($row['owneruid']);
</php>
<div id="adminLeftBox" style="width: 100%; float:left; position: relative;">
<h3 class="maintitle"> Informacje podstawowe </h3>
<div class="ipsBox_container">
<table class="ipb_table" summary="">
<tbody>
<div class="skin3d" id="right"><img src="public/skins/{$row['last_skin']}.png" style="padding-top: 10px;"></div>
<tr class="row1">
<td> <b>Identyfikator</b> </td>
<td> {$row['player_uid']} </td>
</tr>
<tr class="row2">
<td> <b>Nazwa postaci</b> </td>
<td> {$row['name']} </td>
</tr>
<tr class="row2">
<td> <b>Czas gry</b> </td>
<td> {$row['hours']}h {$row['minutes']}min</td>
</tr>
<tr class="row1">
<td> <b>Ostatnio online</b> </td>
<td> {parse date="$row['last_online']" format="DATE"} </td>
</tr>
<tr class="row2">
<td> <b>Płeć</b> </td>
<td> <if test="$row['sex'] == 0">Mężczyzna <img src="public/style_images/images/man.png"><else />Kobieta <img src="public/style_images/images/woman.png"></if> </td>
</tr>
<tr class="row1">
<td> <b>Wiek</b> </td>
<td> {$row['age']} lat </td>
</tr>   
<if test="$this->memberData['member_id'] == $row['owneruid']  || $this->memberData['member_group_id'] == 4">
<tr class="row2">
<td> <b>Portfel</b> </td>
<td> $ {$row['cash']} </td>
</tr>
<tr class="row1">
<td> <b>Bank</b> </td>
<td> $ {$row['bank']} </td>
</tr>
</if> 
<tr class="row2">
<td> <b>Zdrowie</b> </td>
<td>
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
	<script type="text/javascript" src="http://sc-rp.pl/bar/progressbar.js"></script>
	<link rel="stylesheet" type="text/css" href="http://sc-rp.pl/bar/progressbar.css">
	<link rel="stylesheet" type="text/css" href="http://sc-rp.pl/bar/skins/round-pink/progressbar.css">
</head>
	<div id="progressBar" class="round-pink"><div></div></div>
	<script>
		progressBar({$row['health']}, $('#progressBar'));
	</script>
</td>
</tr>
<tr class="row2">
<td> <b>Status</b> </td>
<td> <if test="$row['block'] == 1024"><div class="xcxzczx" style="color:red;"><b>Wymaga zaakceptowanej biografii</b></div><else /><if test="$row['block'] == 1"><div class="xcxzczx" style="color:red;">Zablokowana</div><else /><div class="xcxzczx" style="color:green;">Aktywna</div></if></if> </td>
</tr>
</tbody>
</table>
</div>
<br />
<h3 class="maintitle"> Lista przedmiotów </h3>
<div class="ipsBox_container">
<table class="ipb_table" summary="">
<tbody>
<tr class="header">
<th scope="col">UID</th>
<th scope="col">Nazwa</th>
<th scope="col">Typ przedmiotu</th>
<th scope="col">Wartość 1</th>
<th scope="col">Wartość 2</th>
</tr>
<if test="count($items)">
<foreach loop="$items as $item">
<tr class="row1">
<td> {$item['uid']} </td>
<td> {$item['name']} </td>
<td> {$item['kind']} </td>
<td> {$item['value1']} </td>
<td> {$item['value2']} </td>
</tr>
</foreach>
<else />
<tr><td colspan='6'> Nieznaleziono żadnych przedmiotów. </td></tr>
</if>
</tbody>
</table>
</div>
</br>
<h3 class="maintitle"> Lista pojazdów </h3>
<div class="ipsBox_container">
<table class="ipb_table" summary="">
<tbody>
<tr class="header">
<th scope="col">Pojazd</th>
<th scope="col">UID</th>
<th scope="col">Model</th>
<th scope="col">Przebieg</th>
<th scope="col">Paliwo</th>
<th scope="col">Rejestracja</th>
<th scope="col">Blokada na koło</th>
<th scope="col">Kolor 1</th>
<th scope="col">Kolor 2</th>
<th scope="col">Stan techniczny</th>
</tr>
<if test="count($vehs)">
<foreach loop="$vehs as $veh">
<tr class="row1">
<td> <img src="public/vehicles/Vehicle_{$veh['model']}.jpg" alt="" style="height:50px; width:80px;">
<td> {$veh['uid']} </td>
<td> {$veh['model']} </td>
<td> {$veh['distance']} km</if></td>
<td> {$veh['fuel']} L</td>
<td> <if test="$veh['register'] == _"><div class="xcxzczx" style="color:red;">Brak</div><else /><div class="xcxzczx" style="color:green;">{$veh['register']}</div></if> </td>
<td> <if test="$veh['block'] >= 1"><div class="xcxzczx" style="color:red;">{$veh['block']} $</div><else /><div class="xcxzczx" style="color:green;">Nie</div></if> </td>
<td><div data-tooltip="{$veh['color_1']}"><img src="public/colors/{$veh['color_1']}.png" alt="" style="height:30px; width:30px;border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;"></div>
<td><div data-tooltip="{$veh['color_2']}"><img src="public/colors/{$veh['color_2']}.png" alt="" style="height:30px; width:30px;border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;"></div>
<td> {$veh['hp']} HP</td>
</tr>
</foreach>
<else />
<tr><td colspan='6'> Nie znaleziono żadnych pojazdów. </td></tr>
</if>
</tbody>
</table>
</div>
<br />
<h3 class="maintitle"> Lista drzwi </h3>
<div class="ipsBox_container">
<table class="ipb_table" summary="">
<tbody>
<tr class="header">
<th scope="col">Pickup</th>
<th scope="col">UID</th>
<th scope="col">Nazwa</th>
<th scope="col">Zamek</th>
<th scope="col">Koszt wejścia</th>
<th scope="col">Przejazd</th>
<th scope="col">Świat wyjścia</th>
</tr>
<if test="count($doors)">
<foreach loop="$doors as $door">
<tr class="row1">
<td> <img src="public/pickup/{$door['pickupid']}.png" alt="" style="height:50px; width:50px;">
<td> {$door['uid']} </td>
<td> {$door['name']} </td>
<td> <if test="$door['lock'] == 1"><div class="xcxzczx" style="color:red;">Zamknięte</div><else /><div class="xcxzczx" style="color:green;">Otwarte</div></if> </td>
<td> {$door['enter_price']} $</td>
<td> <if test="$door['garage'] == 1">Tak<else />Nie</if> </td>
<td> {$door['exitvw']} </td>
</tr>
</foreach>
<else />
<tr><td colspan='6'> Nie znaleziono żadnych drzwi. </td></tr>
</if>
</tbody>
</table>
</div>
<br />
</div>
</div>
</div>
</div>
</div>

<style>
.skin3d {
padding-left: 650px;
height: 10px; 
}
</style>