<ips:template parameters="$chars, $ret" />
<if test="count($chars)">
<h3 class="maintitle">Tworzenie nowej biografii</h3>
<form method="post" action="index.php?app=panel&module=ajax&section=newapp&md5check={$this->request['md5check']}">
			<fieldset class="ipsSettings_section">
					<div>
						<ul>
							
<li class="custom">
	<label class="ipsSettings_fieldtitle">Napisz jako</label>
<select name="char">
	<if test="count($chars)">
		<foreach loop="$chars as $row">
			<option value="{$row['player_uid']}">{$row['name']}</option>
		</foreach>
	<else />
		<option value="0">(Brak postaci)</option>
	</if>
</select>
</li>
							
						</ul>
					</div>
				</fieldset>
<div class="message succes">
Uwaga! Pisząc biografie na postać, pamiętaj o tym że będzie ona sprawdzana przez weryfikatorów kont, aby została zaakceptowana musisz spełnić następujące wymogi:
<br>
● Twoja biografia musi posiadać minimum 800 znaków, by została wysłana.<br>
● Biografia musi być treściwa, napisana stosownie o postaci. Inne będą automatycznie odrzucane.<br>
● Ubieganie się, jakiekolwiek spamienie o rozpatrzenie biografii ekipie serwera na prywatnej wiadomości zostaje karane blokadą postowania, dodatkowo biografia zostaje odrzucona.<br>
● Pamiętaj by biografia miała sens, nie pisz o umierającej matce postaci lub o ojcu alkoholiku. Kreatywność to podstawa, a tego typu prace nie przejdą.<br>

</div>
{$ret}
	<fieldset class="submit">
		<input type="submit" class="input_submit" name="save" value="Wyślij biografię">
	</fieldset>
</form>

<else />
<h3 class="maintitle">Tworzenie nowej aplikacji</h3><br />
<div class="message unspecific">Nie posiadasz żadnych postaci, które oczekują na biografię.</div>
</if>