<ips:template parameters="$success, $premium_end, $success2" />
<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">
		<li class="active"><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
	</ul>
</div>
<div class="ipsBox">
	<div class="ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body">
		<div class="ipsVerticalTabbed_tabs ipsLayout_left" id="usercp_tabs">
			<ul>
				<li><a href="index.php?app=panel&module=character">Lista postaci</a></li>
				<li><a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a></li>
				<li><a href="index.php?app=panel&module=character&section=logs">Logi logowań</a></li>
                                <li><a href="index.php?app=panel&module=tickets">Zgłoszenia</a></li>
                                <li class="active"><a href="index.php?app=panel&module=premium">Konto premium</a></li>
			</ul>
		</div>


	<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">

<style>
			.crpListUI > ul li {
			margin-left: -12px;
			padding-left: 12px;
			background: url(http://net4game.com/public/style_images/master/bullet_star.png) no-repeat 0 3px;
			font-size: 10px;
			color: #777;
			}
			.qr{
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAABlBMVEV4eHju7u4BDPmpAAAAk0lEQVQ4jb2UwQ3AMAgD2cD7b+kNKIZKyRN/kkhF9wmOTRp5LcYDiggwMMUgZIKYYlEAmGIT+ZAu8U6RPdJ9PNuRVtGV0Y4USB0ify1iXbUEc7rvqb61Wf094pwlhz0qYI0PAYvaJWqA0iLFEcy/+54UP1o0PNIQ6Fl1Kh5lZ+qTbsvzxnY0quWwRe1SyieP3v4HP1EY0JdwpFMTAAAAAElFTkSuQmCC');

				width: 100px;
				height: 100px;
				display: inline-block;
				border-right: 1px solid #ccc;
			}
		</style>
			<div class="ipsPad">
<if test="$success == 1">
<div class="message error">Kod niepoprawny, upewnij się czy kod nie został użyty wcześniej.</div><br />
</if>
<if test="$success == 2">
<div class="message">Kod prawidłowy, konto premium zostało nadane na 31 dni.</div><br />
</if>
<if test="$this->memberData['premium'] > IPS_UNIX_TIME_NOW">
<div class="message unspecific">Konto premium aktywne do: {parse date="$this->memberData['premium']" format="SHORT" relative="false"}</div></if>
			<div class="crpListUI">
				<center><img src="http://s20.postimg.org/q7anxb1bx/premium.png" width="200" height="200"></center>
				<br />
				
				<fieldset class="ipsSettings_section">
					<div class="crpListUI">
						<ul>
						<li>Wyróżniony nick na liście graczy online oraz w grze.</li>
                                                <li>Ranga "Gracz premium" na forum.</li>
						<li>Możliwość ukrycia swojej postaci w profilu.</li>
                                                <li>Dostęp do "tajnych" działów.</li>
                                                <li>Możliwość założenia kolejnej postaci już po <b>3</b> godzinach.</li>
						<li>Ilość jednocześnie zespawnowanych pojazdów zwiększona do <strong>3</strong>.</li>
						<li><strong>15</strong> GameScore za pełną godzinę przegraną na serwerze zamiast <strong>10</strong>.</li>
						<li>Możliwość założenia <strong>3</strong> akcesorii na postać jednocześnie zamiast <strong>2</strong>.</li>
						</ul><br />
					</div>
				</fieldset>
				<fieldset class="submit" style="text-align: left; padding-left: 50px; padding-right: 50px;">
						<div class="left" style="width: 75%;">
						<div class="qr"></div><div style="display: inline-block; width: 75%; margin-top: 5px;vertical-align: top; margin-left: 15px;">
						Koszt usługi to <b>14</b> zł netto<br />
						Wyślij SMS'a o treści <s><b>HPAY.SCRP</b> na numer <b>91455</b></s> w celu otrzymania kodu zwrotnego. Otrzymany kod wpisz do okienka po prawej stronie, następnie kliknij przycisk Aktywuj. Możesz również skorzystać z kodu QR, który znajduje się po lewej stronie, w celu wysłania wiadomości.<br />
						Płatności obsługuje Homepay (<a href="http://ssl.homepay.pl/reklamacje/"> Reklamacje </a>, <a href="http://ssl.homepay.pl/regulamin/regulamin_sms_premium/"> Regulamin </a>)<br />
						Obsługiwane sieci: T-Mobile, Plus, Orange, Play
						</div></div>
						
<div class="right" style="margin-top: 5%; ">
                                                <form action="{parse url="app=panel&module=premium&section=premium" base="public"}" method="post">
						<input type="text" name="code" class="input_text" size="15" placeholder="Otrzymany kod" maxlength="8" required> <br /> <center>
						<input type="submit" style="margin-top: 2px;"class="ipsButton_secondary" name="activate" size="15" value="Aktywuj"></center></form>
						</div>
					</fieldset>
				</div>
		</div>

	</div></div>