<ips:template parameters="$rows, $posts, $page, $pagination" />
<div class='ipsBox'>
	<div class='ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body'>
			<div class='ipsVerticalTabbed_tabs ipsLayout_left' id='usercp_tabs'>
				<ul>					
                                <li><a href="index.php?app=panel&module=character">Lista postaci</a></li>
				<li><a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a></li>
				<li><a href="index.php?app=panel&module=character&section=logs">Logi logowań</a></li>
                                <li class="active"><a href="index.php?app=panel&module=tickets">Zgłoszenia</a></li>
                                <li><a href="index.php?app=panel&module=premium">Konto premium</a></li>
				</ul>
			</div>
		
<div class='ipsVerticalTabbed_content ipsLayout_content ipsBox_container' id='usercp_content'>
<div class="ipsPad">

<tbody>
<tr><td colspan="6">
<div style="float: left;"><input class="ipsButton" type="button" value="Dodaj zgłoszenie" onclick="window.location = 'index.php?app=panel&module=tickets&section=addtickets'"></div>
								<div style="float: left; margin-left: 30px; line-height: 20px; margin-top: 7px;">
									<div style="width: 13px; height: 13px; background: gray; float:left; margin-left: 20px;"></div> <div style="float: left; margin-left: 3px; line-height: 13px;">Nowy</div>
									<div style="width: 13px; height: 13px; background: #FFCC00; float:left; margin-left: 20px;"></div> <div style="float: left; margin-left: 3px; line-height: 13px;">Przyjęty</div>
									<div style="width: 13px; height: 13px; background: orange; float:left; margin-left: 20px;"></div> <div style="float: left; margin-left: 3px; line-height: 13px;">Konwersacja</div>
									<div style="width: 13px; height: 13px; background: purple; float:left; margin-left: 20px;"></div> <div style="float: left; margin-left: 3px; line-height: 13px;">Realizacja</div>
									<div style="width: 13px; height: 13px; background: green; float:left; margin-left: 20px;"></div> <div style="float: left; margin-left: 3px; line-height: 13px;">Rozwiązany</div>
									<div style="width: 13px; height: 13px; background: red; float:left; margin-left: 20px;"></div> <div style="float: left; margin-left: 3px; line-height: 13px;">Zakończony</div>
								</div>
</td></tr>
</tbody><br /><br /><br />
 
<div class="maintitle ipsFilterbar clearfix">
<ul class="ipsList_inline">
<if test="$page == 0">
<li class="active"><a href="index.php?app=panel&module=tickets&section=tickets">Twoje zgłoszenia</a></li>
<else />
<li><a href="index.php?app=panel&module=tickets&section=tickets">Twoje zgłoszenia</a></li>
</if>
<if test="$page == 1">
<li class="active"><a href="index.php?app=panel&module=tickets&section=tickets&type=1">Zgłoszenia, którymi się zajmujesz</a></li>
<else />
<li><a href="index.php?app=panel&module=tickets&section=tickets&type=1">Zgłoszenia, którymi się zajmujesz</a></li>
</if>
<if test="$page == 2">
<li class="active"><a href="index.php?app=panel&module=tickets&section=tickets&type=2">Nowe</a></li>
<else />
<li><a href="index.php?app=panel&module=tickets&section=tickets&type=2">Nowe</a></li>
</if>
<if test="$page == 3">
<li class="active"><a href="index.php?app=panel&module=tickets&section=tickets&type=3">Wszystkie</a></li>
<else />
<li><a href="index.php?app=panel&module=tickets&section=tickets&type=3">Wszystkie</a></li>
</if>
</ul>
</div>
<div class="ipsBox_container">
<table class="ipb_table" summary="">
<tbody>
<tr class="header">
<th scope="col">ID</th>
<th scope="col">Temat</th>
<th scope="col">Kategoria</th>
<th scope="col">Status</th>
<th scope="col">Administrator</th>
</tr>
<if test="count($rows)">
<foreach loop="$rows as $row">
<tr class="row1">
<td> <a href="index.php?app=panel&module=admin&section=tickets&uid={$row['t_uid']}&owner={$row['t_starter_id']}">#{$row['t_uid']}</a></td>
<td> {$row['t_topic']} </td>
<td> {$row['t_type']} </td>
<td> {$row['status']}</td>
<php>
$member = IPSMember::load($row['admin']);
</php>
<td><if test="$row['admin'] == 0">--<else />{parse template="userHoverCard" group="global" params="$member"}</if></td>
</tr>
</foreach>
<else />
<tr><td colspan='6'> Nieznaleziono żadnych zgłoszeń. </td></tr>
</if>
</tbody>
</table>
</div>

{$pagination}
                    
</div>
</div>
</div>
</div>