<ips:template parameters="$ranks, $permissions, $skins" />
{parse striping="fetchRanks" classes="row2,row1"}

<style type="text/css">
	.skin_select {
		width: 55px;
		height: 100px;
		border: 0;
		margin: 4px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
</style>

<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">		
		{parse template="groupTabs" group="panel"}
	</ul>
</div>
<div class="ipsCustomBox" style="width: 100%; float: left">
	<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
		<div class="ipsPad">
			<fieldset class="row1">
				<form method="post" action>
					<table class="ipb_table report_center">
						<tbody>
							<tr class="header">
								<th scope="col" class="short" style="width: 3%;"> L.p </th>
								<th scope="col" class="short" style="width: 10%;"> Nazwa </th>
								<th scope="col" class="short" style="width: 10%;"> Ubranie </th>
								<th scope="col" class="short" style="width: 7%;"> Wypłata </th>
								<foreach loop="$permissions as $permission">
									<th scope="col" class="short" style="width: 3%;">
										{$permission}
									</th>
								</foreach>
							</tr>
							<foreach loop="$ranks as $row">
								<tr class='{parse striping="fetchRanks"}'>
									<td class="short"> 
										{$row['num']}
									</td>
									<td class="short">  
										<input type="text" class="input_text" name="rank[{$row['uid']}][name]" value="{$row['name']}" />
									</td>
									<td class="short">
										<input type="number" value="{$row['skin']}" id="hidden_skin_{$row['uid']}" name="rank[{$row['uid']}][skin]" />
									</td>
									<td class="short">
										$ <input type="number" min="0" max="300" size="1" maxlength="3" class="input_text" name="rank[{$row['uid']}][payout]" value="{$row['payout']}">
									</td>
									<foreach loop="$permissions as $key => $permission">
										<td class="short">
											<input type="checkbox" name="perm[{$row['uid']}][global][{$key}]" value="1" <if test="$row['permissions'] & $key">checked</if> />
										</td>
									</foreach>
									<input type="hidden" name="perm[{$row['uid']}][global][2048]" value="1" />
								</tr>
							</foreach>
						</tbody>
					</table>
					<fieldset class="submit"> 
						<input type="submit" class="input_submit" name="updateRanks" value="Zapisz" /> lub dodaj nową rangę o nazwie: <input type="text" name="rank_name" class="input_text" /> &nbsp;
						<input type="submit" name="add_rank" value="Dodaj rangę" class="input_submit alt" />
					</fieldset>
				</form>
			</fieldset>
		</div>
	</div>
</div>