<ips:template parameters="$row, $messages" />
<h3> Edycja postaci {$row['name']} </h3>

<div id="newsAjaxBox" class="hrpChange clear">
	<form method="post" action="index.php?app=panel&module=ajax&section=editchar&char_id={$this->request['char_id']}&md5check={$this->request['md5check']}">
		<table width="100%;" class="ipb_table">
			<tbody>
				<tr>
					<td> Nazwa postaci </td>
					<td> <input type="text" name="name" class="input_text" value="{$row['name']}" /> </td>
				</tr>
				<tr>
					<td> Płeć </td>
					<td> <select name="sex" class="input_text"> <option <if test="$row['sex'] == 0">selected</if> value="0"> Mężczyzna </option> <option <if test="$row['sex'] == 1">selected</if> value="1"> Kobieta </option> </select> </td>
				</tr>
				<tr>
					<td> Wiek </td>
					<td> <input type="text" name="age" class="input_text" value="{$row['age']}" /> </td>
				</tr>
				<if test="$this->memberData['member_group_id'] == 4"> 
					<tr>
						<td> Portfel </td>
						<td> <input type="text" name="cash" class="input_text" value="{$row['cash']}" /> </td>
					</tr>
					<tr>
						<td> Bank </td>
						<td> <input type="text" name="bank" class="input_text" value="{$row['bank']}" /> </td>
					</tr>
				</if>
				<tr>
					<td> Zdrowie </td>
					<td> <input type="text" name="hp" class="input_text" value="{$row['hp']}" /> </td>
				</tr>
				<tr>
					<td> Blokada </td>
					<td> <input type="text" name="block" class="input_text" value="{$row['block']}" /> </td>
				</tr>
				<tr>
					<td> Skin </td>
					<td> <input type="text" name="skin" class="input_text" value="{$row['skin']}" /> </td>
				</tr>
				<tr>
					<td colspan='2'> <input type="submit" name="char_save" class="ipsButton" value="Zapisz" /> </td>
				</tr>
			</tbody>
		</table>
	</form>
</div>