<ips:template parameters="$log, $logs" />
<php>
$this->DB->query('SELECT * FROM `fc_characters`');
$l2 = $this->DB->getTotalRows(); 

$this->DB->query('SELECT * FROM `fc_groups`');
$l3 = $this->DB->getTotalRows(); 

$this->DB->query('SELECT * FROM `fc_doors`');
$l4 = $this->DB->getTotalRows(); 

$this->DB->query('SELECT * FROM `fc_objects`');
$l6 = $this->DB->getTotalRows(); 

$this->DB->query('SELECT * FROM `fc_vehicles`');
$l7 = $this->DB->getTotalRows(); 

$this->DB->query('SELECT * FROM `fc_bans`');
$l8 = $this->DB->getTotalRows(); 

$this->DB->query('SELECT * FROM `fc_areas`');
$l9 = $this->DB->getTotalRows(); 

</php>
<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
<li  class="active"><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
                <div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
                        <div class="ipsPad">                                   
                                   <div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">

<div style="width: 27%; height: auto; float: right; text-align: center;">
<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
      <h3 class="maintitle">Statystyki</h3>
         <table width="100%;" class="ipb_table">
		<tbody>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Postacie</b></td>
				<td style="padding-left: 15%">{$l2}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Grupy</b></td>
				<td style="padding-left: 15%">{$l3}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Drzwi</b></td>
				<td style="padding-left: 15%">{$l4}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Obiekty</b></td>
				<td style="padding-left: 15%">{$l6}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Pojazdy</b></td>
				<td style="padding-left: 15%">{$l7}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Bany</b></td>
				<td style="padding-left: 15%">{$l8}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Strefy</b></td>
				<td style="padding-left: 15%">{$l9}</td>
			</tr>
		</tbody>
	</table>
<php>
$czas = time();
$czaspremium = time() + 86000 * 30;
</php>
<h3 class="maintitle">Informacje</h3>
         <table width="100%;" class="ipb_table">
		<tbody>
                         <tr>
				<td width="40%" style="padding-left: 15%"><b>Aktualny czas</b></td>
				<td style="padding-left: 15%">{$czas}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Czas premium</b></td>
				<td style="padding-left: 15%">{$czaspremium}</td>
			</tr>


		</tbody>
	</table>
</div>
</div>

<div style="width: 72%;">
<h3 class="maintitle">Ostatnie logi panelu</h3>
<table class="ipb_table report_center">
	<tbody>
<if test="count($log)">
<foreach loop="$log as $row">
<php>
$member = IPSMember::load( $row['owner'] );
$this->DB->query('SELECT * FROM `fc_characters` WHERE `player_uid` = '.$row['char'].'');	
$rows = $this->DB->fetch();
$rows['nick'] = str_replace("_", " ", $rows['nick']);
</php>
		<tr>
			<td><a href="index.php?showuser={$row}">{IPSMember::makeNameFormatted( $member['members_display_name'],$member['member_group_id'])}</a><br /><if test="$row['char']"><div class="desc">{$rows['nick']} ({$rows['player_uid']})</div></if></td>
			<td>{parse date="$row['date']" format="short"}</td>
			<td>{$row['log']}</td>
		</tr>
</foreach>
<else />
<tr><td colspan="3">Nie znaleziono żadnych logów.</td></tr>
</if>
	</tbody>
</table>
<br /><br />
<h3 class="maintitle">Ostatnie logi akcji administracyjnych</h3>
<table class="ipb_table report_center">
	<tbody>
<if test="count($logs)">
<foreach loop="$logs as $r">
<php>
$members = IPSMember::load( $r['owner'] );
$this->DB->query('SELECT * FROM `fc_characters` WHERE `player_uid` = '.$r['char'].'');	
$re = $this->DB->fetch();
$r['name'] = str_replace("_", " ", $r['name']);
</php>
		<tr>
			<td><a href="index.php?showuser={$r['owner']}">{IPSMember::makeNameFormatted( $members['members_display_name'],$members['member_group_id'])}</a><br /><if test="$r['char']"><div class="desc">{$re['name']} ({$re['player_uid']})</div></if></td>
			<td>{parse date="$r['date']" format="short"}</td>
			<td>{$r['log']}</td>
		</tr>
</foreach>
<else />
<tr><td colspan="3">Nie znaleziono żadnych logów administracyjnych.</td></tr>
</if>
	</tbody>
</table>
</div>
		</div>
	</div>
</div>