<ips:template parameters="$map" />
{"items":[
<foreach loop="$map as $row">
<php>
			$this->DB->query('SELECT * FROM `fc_groups` WHERE `uid` = '.$row['owner'].'');
			$group = $this->DB->fetch();
				
			switch($group['type'])
			{
				case 1: $row['icon'] = 13; break;
				case 2: $row['icon'] = 12; break;
				case 3: $row['icon'] = 14; break;
				case 4: $row['icon'] = 2; break;
				case 5: $row['icon'] = 5; break;
				case 8: $row['icon'] = 5; break;
				default: $row['icon'] = 0; break;
			}
</php>
{"icon":"{$row['icon']}","id":{$row['uid']},"name":"{$row['name']}","pos":{"x":{$row['enterx']},"y":{$row['entery']}},"text":"Adres: Fort Carson {$row['uid']}"},
</foreach>
]}