<ips:template parameters="$information, $vehicles" />
<php>
	$this->DB->query('SELECT * FROM `fc_donations` WHERE `group_type` = ' . $information['kind'] . '');
	$dotation = $this->DB->fetch();
</php>
<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">		
		{parse template="groupTabs" group="panel"}
	</ul>
</div>
<div class="ipsCustomBox" style="width: 100%; float: left">
	<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
		<div class="ipsPad">
		

			<br />

			<div id="dashboardBox" style="float: left; width: 35%;">
				<table width="100%;" class="ipb_table">
					<tbody>
						<tr class="header">
							<td style="font-weight: bold;" align="center" colspan="2">
								Informacje o grupie
							</td>
						</tr>
						<tr>
							<td width="30%" style="padding-left: 10%"> Identyfikator </td>
							<td style="padding-left: 15%">
								{$information['uid']}
							</td>
						</tr>
						<tr>
							<td width="30%" style="padding-left: 10%"> Nazwa grupy </td>
							<td style="padding-left: 15%">
								{$information['desc']}
							</td>
						</tr>
						<tr>
							<td width="30%" style="padding-left: 10%"> Tag grupy </td>
							<td style="padding-left: 15%">
								<if test="$information['tag']">
									{$information['tag']}
								<else />
									--
								</if>
							</td>
						</tr>
						<tr>
							<td width="30%" style="padding-left: 10%"> Typ grupy </td>
							<td style="padding-left: 15%">
								{$information['kind_name']}
							</td>
						</tr>
						<tr>
							<td width="30%" style="padding-left: 10%"> Punkty </td>
							<td style="padding-left: 15%">
								<if test="$information['points'] > 800">
									<font color="#8CD147">
										{$information['points']} / 500
									</font>
								<else />
									<font color="#FFC675">
										{$information['points']} / 500
									</font>
								</if>
							</td>
						</tr>
						<tr>
							<td width="30%" style="padding-left: 10%"> Stan konta </td>
							<td style="padding-left: 15%">
								<span style="font-weight: bold; color: green;">$</span>
								{$information['cash']}
							</td>
						</tr>	
						<tr>
							<td width="30%" style="padding-left: 10%"> Dotacja </td>
							<td style="padding-left: 15%">
								<span style="font-weight: bold; color: green;">$</span>
								{$dotation['cash']}
							</td>
						</tr>			
					</tbody>
				</table>
			</div>

			<div id="dashboardBox" style="float: right; width: 64%;">
				<table class="ipb_table report_center">
					<tbody>
						<tr class="header">
					        <th scope="col">Pojazd</th>
<th scope="col">UID</th>
<th scope="col">Model</th>
<th scope="col">Przebieg</th>
<th scope="col">Paliwo</th>
<th scope="col">Rejestracja</th>
<th scope="col">Blokada</th>
<th scope="col">Kolor 1</th>
<th scope="col">Kolor 2</th>
<th scope="col">Stan</th>
						</tr>
						<if test="count( $vehicles )">
							<foreach loop="$vehicles as $row">
								<tr class='{parse striping="fetchVehicles"}'>
									<td class="short"> 
							               <tr class="row1">
<td> <img src="public/vehicles/Vehicle_{$row['model']}.jpg" alt="" style="height:50px; width:80px;">
<td> {$row['uid']} </td>
<td> {$row['model']} </td>
<td> {$row['distance']} km</if></td>
<td> {$row['fuel']}</td>
<td> <if test="$row['register'] == _"><div class="xcxzczx" style="color:red;">Brak</div><else /><div class="xcxzczx" style="color:green;">{$row['register']}</div></if> </td>
<td> <if test="$row['block'] >= 1"><div class="xcxzczx" style="color:red;">{row['block']} $</div><else /><div class="xcxzczx" style="color:green;">Nie</div></if> </td>
<td><div data-tooltip="{$row['color_1']}"><img src="public/colors/{$row['color_1']}.png" alt="" style="height:30px; width:30px;border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;"></div>
<td><div data-tooltip="{$row['color_2']}"><img src="public/colors/{$row['color_2']}.png" alt="" style="height:30px; width:30px;border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;"></div>
<td> {$row['hp']} HP</td>
</tr>
									
								</tr>
							</foreach>
						<else />
							<tr>
								<td colspan="4">
									Brak pojazdów w grupie.
								</td>
							</tr>
						</if>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>