<ips:template parameters="$characters" />
<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">
		<li><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li class="active"><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
	</ul>
</div>

<div class="ipsBox">
	<div class="ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body">
		<div class="ipsVerticalTabbed_tabs ipsLayout_left" id="usercp_tabs">
			<ul>
				<li class="active"><a href="index.php?app=panel&module=group">Wybór grupy</a></li>
			</ul>
		</div>
		<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
			<div class="ipsPad">
				<form method="post" action="index.php?app=panel&module=group">
					<h2 class="ipsType_subtitle ipsSettings_pagetitle">Wybór grupy</h2>
					<p style="margin: 0 0 10px 0;" align="center">
						<fieldset class="submit">
							<select name="choice" style="min-width: 100px;">
								<if test="count($characters)">
									<foreach loop="$characters as $row">
										<option value="{$row['player_uid']}">{$row['name']}</option>
									</foreach>
								<else />
									<option value="0">(Brak postaci)</option>
								</if>
							</select>
								<input type="submit" value="Przejdź do wyboru grupy" name="choose_char" class="ipsButton">
						</fieldset>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>