<h3 class="maintitle">Tworzenie grupy</h3>
<form method="post" action="index.php?app=panel&module=ajax&section=creategroup&md5check={$this->request['md5check']}">
			<fieldset class="ipsSettings_section">
					<div>
						<ul>
							
								<li class="custom">
	<label for="field_1" class="ipsSettings_fieldtitle">Nazwa grupy</label>
	<input type="text" size="20" class="input_text" name="desc" />
		
	
</li>

								<li class="custom">
	<label for="field_1" class="ipsSettings_fieldtitle">Stan konta</label>
	<input type="text" size="20" class="input_text" name="cash" />
		
	
</li>
							
								<li class="custom">
	<label class="ipsSettings_fieldtitle">Uprawnienia</label>
	<select class="input_select" name="perm">
		<option value="1">Rząd</option>
		<option value="2">Porządkowa</option>
		<option value="3">Służba medyczna</option>
		<option value="4">Restauracja</option>
		<option value="5">Warsztat samochodowy</option>
		<option value="6">Stacja benzynowa</option>
		<option value="7">Farma</option>
		<option value="8">Salon samochodowy</option>
		<option value="9">Sklep samoobsługowy</option>
		<option value="10">Hotel</option>
		<option value="11">Firma sprzątająca</option>
		<option value="12">Radio</option>
		<option value="13">Szajka</option>
		<option value="14">Ściganci</option>	
	</select>
		
	
</li>
								<li class="custom">
	<label for="field_3" class="ipsSettings_fieldtitle">UID postaci lidera</label>
	<input type="text" size="5" class="input_text" name="player_uid" />
		
	
</li>					
	
						</ul>
					</div>
				</fieldset>
	<fieldset class="submit">
		<input type="submit" class="input_submit" name="createGroup" value="Dodaj grupę">
	</fieldset>
</form>