<ips:template parameters="$chars, $ret" />
<if test="count($chars)">
<h3 class="message unspecific">Tworzenie nowej biografii</h3>
<form method="post" action="index.php?app=panel&module=character&section=newbio&md5check={$this->request['md5check']}">
			<fieldset class="ipsSettings_section" style="padding-left:22%;">
					<div>
						<ul>
							
<li class="custom">
	<label class="ipsSettings_fieldtitle">Napisz jako</label>
<select name="char">
	<if test="count($chars)">
		<foreach loop="$chars as $row">
			<option value="{$row['player_uid']}">{$row['name']}</option>
		</foreach>
	<else />
		<option value="0">(Brak postaci)</option>
	</if>
</select>
</li>
							
						</ul>
					</div>
				</fieldset>
<div style="padding:10px;line-height:1.6;font-size:12px;border: 1px solid #a4cfa4;background: rgba(153, 204, 50, 0.5);color:black;">
<h1><b>Uwaga! Pisząc biografie na postać, pamiętaj o tym że będzie ona sprawdzana przez weryfikatorów kont, aby została zaakceptowana musisz spełnić następujące wymogi:</b></h1>
<h2>● Twoja biografia musi posiadać minimum 800 znaków.</h2>
<h2>● Biografia musi być treściwa, napisana stosownie o postaci. Inne będą automatycznie odrzucane.</h2>
<h2>● Ubieganie się, jakiekolwiek spamienie o rozpatrzenie biografii ekipie serwera na prywatnej wiadomości zostaje karane blokadą postowania, dodatkowo biografia zostaje odrzucona.</h2>
<h2>● Pamiętaj by biografia miała sens, nie pisz o umierającej matce postaci lub o ojcu alkoholiku. Kreatywność to podstawa, a tego typu prace nie przejdą.</h2>

</div>
<br />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
Pozostało: <b><span id="counter">800</span></b>
{$ret}
<script>
function counterChange() {
    var n = jQuery('#text').val().split('').length;
    if(n <= 800)
        jQuery('#counter').html(800 - n);
    else
        jQuery('#counter').html("Możesz pisać dalej.");
}
 
jQuery('#text').change(function() { counterChange(); });
jQuery('#text').keyup(function() { counterChange(); });
</script>
	<fieldset class="submit">
		<input type="submit" class="input_submit" name="save" value="Wyślij biografię">
	</fieldset>
</form>

<else />
<h3 class="maintitle">Tworzenie nowej aplikacji</h3><br />
<div class="message unspecific">Nie posiadasz żadnych postaci, które oczekują na biografię.</div>
</if>