<ips:template parameters="$row" />
<div class="maintitle ipsFilterbar clear clearfix">
<ul class="ipsList_inline left">
<li><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li class="active"><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
<div class="ipsPad">                                   
<div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">
<tbody>
<php>
$member = IPSMember::load( $row['owner_app'] );
$member2 = IPSMember::load( $row['checkedby'] );
$this->DB->query('SELECT * FROM `fc_characters` WHERE `player_uid` = '.$row['pid'].'');	
$player = $this->DB->fetch();
</php>
<img src="http://sp54szczecin.edupage.org/photos/skin/clipart/kartka_i_pioro.png" alt="bio" style="padding-left:200px;width: 150px;height: 150px;position: absolute;top: 0;right: 500px;" />
<div style="padding-left:5px;padding-top:5px;background: rgba(153, 204, 50, 0.5);height:150px;width:250px;border: 1px solid green;">
<b>Piszący:</b> <a href="index.php?showuser={$row['owner_app']}">{IPSMember::makeNameFormatted( $member['members_display_name'],$member['member_group_id'] )}</a><br /><br />
<b>Postać: {$player['name']}</b><br /><br />
<b>Sprawdzający:</b> <if test="$row['checkedby'] == 0">Brak<else /><a href="index.php?showuser={$re['checkedby']}"></if>{IPSMember::makeNameFormatted( $member2['members_display_name'],$member2['member_group_id'] )}</a><br /><br />
<b>Wysłano: {parse date="$row['dateline']" format="DATE"}</b><br /><br />
<b>Status: {$row['status']}</b><br /><br /><br />
<a href="index.php?app=panel&module=admin&section=listbio"><img src="public/style_images/images/promote_article.png"> Wróć do listy biografii</a>
</div>
</tbody>
<br /><br /><br />
<h3 class="message unspecific"> Treść biografii </h3>
{$row['a1']}
<br/><br />
<h4 class="message unspecific"> Notka sprawdzającego biografię </h3>
{$row['notes']}
<br /><br />
		</div>
	</div>
</div>