<ips:template parameters="$doors, $pagination" />

<script type="text/javascript">
function EditGroup( e, awardID )
                {
                                var _url = 'index.php?app=panel&module=admin&section=editgroup&uid=' + awardID;
                                new ipb.Popup( 'rep' + awardID, {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };

function ShowMembers( e, awardID )
                {
                                var _url = 'index.php?app=panel&module=admin&section=groupmembers&uid=' + awardID;
                                new ipb.Popup( 'rep' + awardID, {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };

function ShowProducts( e, awardID )
                {
                                var _url = 'index.php?app=panel&module=admin&section=products&uid=' + awardID;
                                new ipb.Popup( 'rep' + awardID, {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };
</script>
<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
<li><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li class="active"><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
        <div class="ipsPad">                                   
                <div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">
                        <table class="ipb_table report_center">
	                        <tbody>
		                        <tr class="header">
			                        <td scope="col" class="short">UID</td>
			                        <td scope="col" class="short">Nazwa</td>
			                        <td scope="col" class="short">Typ właściciela</td>
			                        <td scope="col" class="short">Właściciel</td>
			                        <td scope="col" class="short">Przejazd</td>
		                        </tr>
                                <if test="count($doors)">
									<foreach loop="$doors as $row">
<php>
if($row['group'] != 0)
{
$SQL = $this->DB->query('SELECT * FROM `fc_maps` WHERE `uid` = '.$row['group'].'');
$map = $this->DB->fetch();
}
if($map['uid'] != 0 || $row['group'] != 0)
{
$SQL = $this->DB->query('SELECT * FROM `fc_objects` WHERE `group` = '.$map['uid'].'');
$licznik = $this->DB->getTotalRows();
}

if($row['ownertype'] == 'Gracz')
{
	$this->DB->query('SELECT * FROM `fc_characters` WHERE `player_uid` = '.$row['owner'].'');
	$player = $this->DB->fetch();
	$row['owner'] = $player['name'];
}
else if($row['ownertype'] == 'Dom')
{
	$this->DB->query('SELECT * FROM `fc_characters` WHERE `player_uid` = '.$row['owner'].'');
	$player = $this->DB->fetch();
	$row['owner'] = $player['name'];
}
else if($row['ownertype'] == 'Grupa')
{
	$this->DB->query('SELECT * FROM `fc_groups` WHERE `uid` = '.$row['owner'].'');
	$player = $this->DB->fetch();
	$row['owner'] = $player['desc'];
}
else
{
	$row['owner'] = $row['owner'];
}

$row['owner'] = str_replace("_", " ", $row['owner']);
</php>
												<tr>
                                                        <td class="short">{$row['uid']}</td>
                                                        <td class="short">{$row['name']}</td>
                                                        <td class="short">{$row['ownertype']}</td>
                                                        <td class="short">{$row['owner']}</td>
                                                        <td class="short"><if test="$row['garage']">Tak<else />Nie</if></td>
                                                                                    
                                               </tr>  
									</foreach>
								<else />
									<tr colspan="5"><td>Nie znaleziono żadnych drzwi.</td></tr>
								</if>
                                </tbody>
                        </table>
<div class="float:right;">{$pagination}</div>
		</div>
	</div>