<ips:template parameters="$groups, $pagination" />
<script type="text/javascript">
function EditGroup( e, awardID )
                {
                                var _url = 'index.php?app=panel&module=admin&section=editgroup&uid=' + awardID;
                                new ipb.Popup( 'rep' + awardID, {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };

function ShowMembers( e, awardID )
                {
                                var _url = 'index.php?app=panel&module=admin&section=groupmembers&uid=' + awardID;
                                new ipb.Popup( 'rep' + awardID, {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };

function ShowProducts( e, awardID )
                {
                                var _url = 'index.php?app=panel&module=admin&section=products&uid=' + awardID;
                                new ipb.Popup( 'rep' + awardID, {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };

function addGroup( e )
                {
                                var _url = 'index.php?app=panel&module=admin&section=creategroup';
                                new ipb.Popup( 'rep', {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };
</script>
<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
<li><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li class="active"><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
        <div class="ipsPad">                                   
                <div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">
 <br /><br /><br />
                        <table class="ipb_table report_center">
	                        <tbody>
		                        <tr class="header">
			                        <td scope="col" class="short">UID</td>
			                        <td scope="col" class="short">Nazwa grupy</td>
			                        <td scope="col" class="short">Stan konta</td>
			                        <td scope="col" class="short">Limit wypłat</td>
			                        <td scope="col" class="short">Typ</td>
			                        <td scope="col" class="short">Opcje</td>
		                        </tr>
									<if test="count($groups)">
										<foreach loop="$groups as $row">
											<tr>
                                                        <td class="short">{$row['uid']}</td>
                                                        <td class="short">{$row['desc']}<br /><div class="desc"><small><if test="$row['head'] != 0">Podgrupa</if></small></div></td>
                                                        <td class="short"><font color="green"><b>$</b></font> {$row['cash']}</td>
                                                        <td class="short"><font color="green"><b>$</b></font> {$row['cashlimit']}</td>
                                                        <td class="short">{$row['perm']}</td>
                                                        <td class="short">
<a href="#" class="ipsButton_secondary" onclick="EditGroup( this, {$row['uid']} );"><img src="/public/style_images/master/display_name.png" data-tooltip="Edytuj grupę"></a>
<a href="#" class="ipsButton_secondary" onclick="ShowMembers( this, {$row['uid']} );"><img src="/public/style_images/master/page_topic_magnify.png" data-tooltip="Pokaż wszystkich pracowników"></a>
<a href="#" class="ipsButton_secondary" onclick="ShowProducts( this, {$row['uid']} );"><img src="/public/style_images/master/spammer_off.png" data-tooltip="Pokaż magazyn grupy"></a>
                                                        </td>
                                            </tr>
										</foreach>
									<else />
										<tr colspan="5"><td>Nie znaleziono żadnej grupy.</td></tr>
									</if>
                                </tbody>
                        </table>
<div class="float:right;">{$pagination}</div>
		</div>
	</div>
</div>