<ips:template parameters="$penalty, $pagination" />
<php>
$SQL = $this->DB->query('SELECT * FROM `isantos_penalty`');
$licznik = $this->DB->getTotalRows( $SQL );

$SQL1 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 2');
$licznik1 = $this->DB->getTotalRows( $SQL1 );

$SQL2 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 3');
$licznik2 = $this->DB->getTotalRows( $SQL2 );

$SQL3 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 4');
$licznik3 = $this->DB->getTotalRows( $SQL3 );

$SQL4 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 5');
$licznik4 = $this->DB->getTotalRows( $SQL4 );

$SQL5 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 6');
$licznik5 = $this->DB->getTotalRows( $SQL5 );

$SQL6 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 7');
$licznik6 = $this->DB->getTotalRows( $SQL6 );

$SQL7 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 8');
$licznik7 = $this->DB->getTotalRows( $SQL7 );

$SQL8 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 11');
$licznik8 = $this->DB->getTotalRows( $SQL8 );

$SQL9 = $this->DB->query('SELECT * FROM `isantos_penalty` WHERE `type` = 12');
$licznik9 = $this->DB->getTotalRows( $SQL9 );
</php>
<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
<li><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
                <div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
                        <div class="ipsPad">                                   
                                   <div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">

<div style="width: 27%; height: auto; float: right; text-align: center;">
<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container" style="width: 267px; min-height: 420px;">
      <h3 class="maintitle">Statystyki</h3>
         <table width="100%;" class="ipb_table">
		<tbody>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Wszystkich</b></td>
				<td style="padding-left: 15%">{$licznik}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Ostrzeżenia</b></td>
				<td style="padding-left: 15%">{$licznik1}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Ban</b></td>
				<td style="padding-left: 15%">{$licznik2}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Admin Jail</b></td>
				<td style="padding-left: 15%">{$licznik3}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>B. konta</b></td>
				<td style="padding-left: 15%">{$licznik4}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>B. biegania</b></td>
				<td style="padding-left: 15%">{$licznik5}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>B. pojazdów</b></td>
				<td style="padding-left: 15%">{$licznik6}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>B. OOC</b></td>
				<td style="padding-left: 15%">{$licznik7}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>B. broni</b></td>
				<td style="padding-left: 15%">{$licznik8}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Nauka</b></td>
				<td style="padding-left: 15%">{$licznik9}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Klątwa</b></td>
				<td style="padding-left: 15%">{$licznik2}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Wymuszenie</b></td>
				<td style="padding-left: 15%">{$licznik2}</td>
			</tr>
			<tr>
				<td width="40%" style="padding-left: 15%"><b>Ban (klątwa)</b></td>
				<td style="padding-left: 15%">{$licznik2}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>

<div style="width: 72%;">
<h3 class="maintitle">Lista postaci</h3>
<table class="ipb_table report_center">
	<tbody>
		                        <tr class="header">
			                        <td scope="col" class="short">UID</td>
			                        <td scope="col" class="short">Użytkownik</td>
			                        <td scope="col" class="short">Administrator</td>
			                        <td scope="col" class="short">Kara</td>
			                        <td scope="col" class="short">Opcja</td>
		                        </tr>
		<if test="count($penalty)">
			<foreach loop="$penalty as $row">
				<php>
					$member = IPSMember::load( $row['player_uid'] );
					$this->DB->query('SELECT * FROM `isantos_players` WHERE `player_uid` = '.$row['player'].'');	
					$rows = $this->DB->fetch();
					$rows['nick'] = str_replace("_", " ", $rows['nick']);
					$members = IPSMember::load( $rows['owner'] );
				</php>
				<tr>
					<td scope="col" class="short">{$row['uid']}</td>
					<td scope="col" class="short">{$rows['nick']}<br />{IPSMember::makeNameFormatted( $members['members_display_name'],$members['member_group_id'])}</td>
					<td scope="col" class="short"><if test="$row['issuedby'] != -1">{IPSMember::makeNameFormatted( $member['members_display_name'],$member['member_group_id'] )}<else />System</if></td>
					<td scope="col" class="short">{$row['type']}<br /><span class="desc">{$row['notes']}</span></td>
					<td scope="col" class="short"><a href="#" class="ipsButton_secondary" onclick="DeactivatePenalty( this, 1 );"><img src="/public/style_images/master/cross.png" data-tooltip="Dezaktywuj karę"></a></td>
				</tr>
			</foreach>
		<else />
			<tr><td colspan="3">Nie znaleziono żadnej nadanej kary.</td></tr>
		</if>
	</tbody>
</table>
<div class="float:right;">{$pagination}</div>
</div>
		</div>
	</div>
</div>