<ips:template parameters="$edytor" />
<div class='ipsBox'>
	<div class='ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body'>
		
			<div class='ipsVerticalTabbed_tabs ipsLayout_left' id='usercp_tabs'>
				<ul>					
				<li><a href="index.php?app=panel&module=character">Lista postaci</a></li>
				<li><a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a></li>
				<li><a href="index.php?app=panel&module=character&section=logs">Logi logowań</a></li>
                                <li class="active"><a href="index.php?app=panel&module=tickets">Zgłoszenia</a></li>
                                <li><a href="index.php?app=panel&module=premium">Konto premium</a></li>
				</ul>
			</div>
		
<div class='ipsVerticalTabbed_content ipsLayout_content ipsBox_container' id='usercp_content'>
<div class="ipsPad">

<div id="newsAjaxBox" class="hrpChange clear">
<form method="post" action="index.php?app=panel&module=ajax&section=ticketadd&md5check={$this->member->form_hash}">
<table width="100%;" class="ipb_table">
<tbody><tr>
<td>Osoba kontaktowa</td>
<td><input type="text" name="name" class="input_text" value="{$this->memberData['name']}" disabled=""></td>
</tr>
<tr>
<td>Tytuł</td>
<td><input type="text" name="title" class="input_text"></td>
</tr>
<tr>
<td>Typ zgłoszenia</td>
<td>
<select name="type" class="input_text">

<option value="0">Niesprecyzowany</option>
<option value="1">Dotyczy pojazdu</option>
<option value="2">Dotyczy drzwi</option>
<option value="3">Dotyczy grupy</option>
<option value="4">Dotyczy pod-grupy</option>
<option value="5">Dotyczy moderatora</option>
<option value="6">Dotyczy administratora</option>
<option value="7">Dotyczy działu / tematu</option>
<option value="8">Dotyczy paneli gracza</option>
<option value="9">Dotyczy błędu na forum</option>
<option value="10">Dotyczy błędu w grze</option>

</select>
</td>
</tr>
<tr>
<td>Treść zgłoszenia</td>
<td>
{$edytor}
</td>
</tr>
<tr>
<td colspan="2">
<input class="ipsButton" type="submit" name="submit" value="Wyślij zgłoszenie">
</td>
</tr>
</tbody></table>
</form>
</div>                  
</div>
</div>
</div>
</div>