<ips:template parameters="$row" />
<h3> Umiejętności postaci {$row['name']} </h3>

<div id="newsAjaxBox" class="hrpChange clear">
	<form method="post" action="index.php?app=panel&module=ajax&section=charatribute&char_id={$this->request['char_id']}&md5check={$this->request['md5check']}">
		<table width="100%;" class="ipb_table">
			<tbody>
				<tr>
					<td> Łowienie ryb </td>
					<td> <input type="text" name="fish" class="input_text" value="{$row['fish']}" /> </td>
				</tr>
				<tr>
					<td> Dostarczanie paczek </td>
					<td> <input type="text" name="kurier" class="input_text" value="{$row['kurier']}" /> </td>
				</tr>
				<tr>
					<td> Plantacja roślin </td>
					<td> <input type="text" name="plant" class="input_text" value="{$row['plant']}" /> </td>
				</tr>
				<tr>
					<td> Prowadzenie pojazdów </td>
					<td> <input type="text" name="veh" class="input_text" value="{$row['veh']}" /> </td>
				</tr>
				<tr>
					<td> Celność strzelania </td>
					<td> <input type="text" name="gun" class="input_text" value="{$row['gun']}" /> </td>
				</tr>
				<tr>
					<td> Zdolności mechaniczne </td>
					<td> <input type="text" name="repair" class="input_text" value="{$row['repair']}" /> </td>
				</tr>
				<tr>
					<td colspan='2'> <input type="submit" name="char_save_atribute" class="ipsButton" value="Zapisz" /> </td>
				</tr>
			</tbody>
		</table>
	</form>
</div>