<ips:template parameters="$pagination, $applogs, $row" />
<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
<li><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li class="active"><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
        <div class="ipsPad">                                   
                <div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">

                        <table class="ipb_table report_center">
	                        <tbody>
		                        <tr class="header">
			                        <td scope="col" class="short">UID</td>
                                                <td scope="col" class="short">Wysłano</td>
			                        <td scope="col" class="short">Piszący</td>
			                        <td scope="col" class="short">Sprawdząjący</td>
                                                <td scope="col" class="short">Status</td>
                                                <td scope="col" class="short">Opcje</td>
		                        </tr>
                                                      <if test="count($applogs)">
                                                      <foreach loop="$applogs as $row">
                                          <php>
                                          $member = IPSMember::load( $row['owner_app'] );
                                          $member2 = IPSMember::load( $row['checkedby'] );
                                         </php>
							<tr>
                                                        <td class="short">{$row['a_uid']}</td>
                          <td class="short">{parse date="$row['dateline']" format="DATE"}</td>
                                                        <td class="short"><a href="index.php?showuser={$row['owner_app']}">{IPSMember::makeNameFormatted( $member['members_display_name'],$member['member_group_id'] )}</a></td>
                                                      
                                                        <td class="short"><if test="$row['checkedby'] == 0">Brak<else /><a href="index.php?showuser={$row['checkedby']}">{IPSMember::makeNameFormatted( $member2['members_display_name'],$member2['member_group_id'] )}</a></if></td>
 <td class="short">{$row['status']}</td>
<td class="short"><a href="index.php?app=panel&module=admin&section=showbio&uid={$row['a_uid']}">Pokaż</a></td>
<div id="poka" style="display: none;">
<foreach loop="$applogs as $row">
{$row['a1']}</foreach>
</div>
 </tr>
										</foreach>
									<else />
										<tr colspan="5"><td>Nie znaleziono żadnych aplikacji.</td></tr>
									</if>





                                </tbody>
                        </table>
<div class="float:right;">{$pagination}</div>
		</div>
	</div>
</div>