<ips:template parameters="$information, $members, $subgroups, $ranks" />
{parse striping="fetchMembers" classes="row2,row1"}
{parse js_module="game"}

<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">		
		{parse template="groupTabs" group="panel"}
	</ul>
</div>
<div class="ipsCustomBox" style="width: 100%; float: left">
	<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
		<div class="ipsPad">
			<fieldset class="row1">
				<form method="post" action>
					<table class="ipb_table report_center">
						<tbody>
							<tr class="header">
								<th scope="col" > &nbsp; </th>
								<th scope="col" > Pracownik </th>
								<th scope="col" > Podgrupa </th>
								<th scope="col" > Ranga </th>
								<th scope="col" > Czas służby </th>
								<th scope="col" > Ostatnio w grze </th>
								<th scope="col" ></th>
							</tr>
							<foreach loop="$members as $member">
								<tr class='{parse striping="fetchMembers"}'>
									<td >
										<a hovercard-ref='member' hovercard-id='{$member['member_id']}' class='url fn  _hovertrigger' href='{parse url="showuser={$member['member_id']}" template="showuser" seotitle="{$member['members_display_name']}" base="public"}' title='{$this->lang->words['view_profile']}'>
											{IPSMember::buildProfilePhoto($member['member_id'], $size=mini)}
										</a>
									</td>
									<td > 
										<a href="index.php?app=farm&module=ajax&section=character&do=details&char={$member['player_uid']}&md5check={$this->member->form_hash}" onclick="ipb.game.showCharacterDetails(this, {$member['player_uid']});return false;">{$member['name']}</a>
										<if test="$member['player_uid'] == $information['leader']"> 
											<span class="ipsBadge ipsBadge_green reset_cursor">OWNER</span> 
										</if>
										<if test="$member['member_group_id'] == 4"> 
											<span class="ipsBadge ipsBadge_red reset_cursor">ADMIN</span> 
										</if>
									</td>
									<td >  
										<select name="member[{$member['player_uid']}][subgroup]" class="input_text">
											<option value="0" <if test="$member['subgroup'] == 0">selected</if>>
												(Brak podgrupy)
											</option>
											<option value="0" disabled>
												---
											</option>
											<if test="count($subgroups)">
												<foreach loop="$subgroups as $subgroup">
													<option value="{$subgroup['uid']}" <if test="$member['subgroup'] == $subgroup['uid']">selected</if>>
														{$subgroup['desc']}
													</option>
												</foreach>
											</if>
										</select>
									</td>
									<td >
										<select name="member[{$member['player_uid']}][rank_uid]" class="input_text">
											<option value="0" <if test="$member['rank_uid'] == 0">selected</if>>
												(Brak rangi)
											</option>
											<option value="0" disabled>
												---
											</option>
											<if test="count($ranks)">
												<foreach loop="$ranks as $rank">
													<option value="{$rank['uid']}" <if test="$member['rank_uid'] == $rank['uid']">selected</if>>
														{$rank['name']}
													</option>
												</foreach>
											</if>
										</select>
									</td>
									<td >
										{$member['group_hours']}h, {$member['group_minutes']}min
									</td>
									<td >
										---
									</td>
									<td >
										<if test="$member['player_uid'] != $information['leader'] && $this->request['character'] != $member['player_uid']">
											<a href="index.php?app=farm&module=ajax&section=group&do=removeMember&group={$this->request['group']}&character={$this->request['character']}&rmCharID={$member['player_uid']}&md5check={$this->member->form_hash}" class="rmMember" id="delmember{$member['player_uid']}">
												<img src="{$this->settings['img_url']}/delete.png" alt="Zwolnij pracownika" />
											</a>
										</if>
									</td>
								</tr>
							</foreach>
						</tbody>
					</table>
					<fieldset class="submit"> 
						<input type="submit" class="input_submit" name="updateMembers" value="Zapisz" />
						&nbsp; lub dodaj nowego pracownika &nbsp;
						<input type="text" class="input_text" value="" placeholder="Np. Imię_Nazwisko" name="char_name" maxlength="32" style="width:150px" /> 
						<input type="submit" class="input_submit alt" name="add" value="Dodaj pracownika" />
					</fieldset>
				</form>
			</fieldset>
		</div>
	</div>
</div>