<ips:template parameters="$logs" />
<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">
		<li class="active"><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
	</ul>
</div>

<div class="ipsBox">
	<div class="ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body">
		<div class="ipsVerticalTabbed_tabs ipsLayout_left" id="usercp_tabs">
			<ul>
				<li><a href="index.php?app=panel&module=character">Lista postaci</a></li>
				<li><a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a></li>
				<li class="active"><a href="index.php?app=panel&module=character&section=logs">Logi logowań</a></li>
                <li><a href="index.php?app=panel&module=tickets">Zgłoszenia</a></li>
                <li><a href="index.php?app=panel&module=premium">Konto premium</a></li>
			</ul>
		</div>
		<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
			<div class="ipsPad">
				<h2 class="ipsType_subtitle ipsSettings_pagetitle">Logi logowań</h2>
				<table width="100%;" class="ipb_table">
					<tbody>
						<tr class="header">
							<td style="font-weight: bold;"> Postać </td>
							<td style="font-weight: bold;"> Adres IP </td>
							<td style="font-weight: bold;"> Data </td>
							<td style="font-weight: bold;"> <s>Sukces</s> </td>
						</tr>		
						<if test="count($logs)">
							<foreach loop="$logs as $row">
								<php>
									$this->DB->query('SELECT * FROM `fc_characters` WHERE `player_uid` = '.$row['player_uid'].'');
									$char = $this->DB->fetch();
									$char['name'] = str_replace("_", " ", $char['name']);
								</php>
								<tr>
									<td> {$char['name']} </td>
									<td> {$row['ip']} </td>
									<td> {parse date="$row['date']" format="short"} </td>
									<td> <if test="$row['success'] == 1"> <img src="/public/style_images/master/accept.png" alt='sukces' /> <else /> <img src="/public/style_images/master/cross.png" alt='sukces' /> </if> </td>
								</tr>
							</foreach>
						<else />
							<tr><td colspan='2'> Nie zaleziono żadnych logów logowań z postaci. </td></tr>
						</if>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>