<ips:template parameters="$pagination, $vehicles" />
<script type="text/javascript">
function EditVeh( e, awardID )
                {
                                var _url = 'index.php?app=panel&module=admin&section=editveh&uid=' + awardID;
                                new ipb.Popup( 'rep' + awardID, {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };

</script>
<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
<li><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li class="active"><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
        <div class="ipsPad">                                   
                <div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">

                        <table class="ipb_table report_center">
	                        <tbody>
		                        <tr class="header">
			                        <td scope="col" class="short">UID</td>
			                        <td scope="col" class="short">Model</td>
			                        <td scope="col" class="short">Rodzaj</td>
			                        <td scope="col" class="short">Właściel</td>
			                        <td scope="col" class="short">Kolor</td>
			                        <td scope="col" class="short">Opcje</td>
		                        </tr>
									<if test="count($vehicles)">
										<foreach loop="$vehicles as $row">
											<tr>
                                                        <td class="short">{$row['uid']}</td>
                                                        <td class="short">{$row['model']}</td>
                                                        <td class="short">{$row['ownertype']}</td>
                                                        <td class="short">{$row['owner']}</td>
                                                        <td class="short">{$row['color_1']} / {$row['color_2']}</td>
                                                        <td class="short">
<a href="#" class="ipsButton_secondary" onclick="EditVeh( this, {$row['id']} );"><img src="/public/style_images/master/display_name.png" data-tooltip="Edytuj pojazd"></a>


                                                        </td>
                                            </tr>
										</foreach>
									<else />
										<tr colspan="5"><td>Nie znaleziono żadnego pojazdu.</td></tr>
									</if>
                                </tbody>
                        </table>
<div class="float:right;">{$pagination}</div>
		</div>
	</div>
</div>