<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=3&key=AIzaSyBSObPH3GEZ22vOYbe6hMXV8k6JRlXXxnI" /></script>
<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">
		<li><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li class="active"><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
	</ul>
</div>

<div class="ipsBox">
		<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container" id="modcp_content" style="min-height: 254px; ">
			<div class="ipsPad">
				
					
					<div class="ipsPad">				
W trakcie tworzenia.
            </div>
					
			</div>
			</div>
	</div>