<ips:template parameters="$groups" />
<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">
		<li><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li class="active"><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
	</ul>
</div>

<div class="ipsBox">
	<div class="ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body">
		<div class="ipsVerticalTabbed_tabs ipsLayout_left" id="usercp_tabs">
			<ul>
				<li class="active"><a href="index.php?app=panel&module=group">Wybór grupy</a></li>
			</ul>
		</div>
		<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
			<div class="ipsPad">
				<form method="post" action="index.php?app=panel&module=group&section=choosegroup&character={$this->request['character']}">
					<h2 class="ipsType_subtitle ipsSettings_pagetitle">Wybór grupy</h2>
					<p style="margin: 0 0 10px 0;" align="center">
						<fieldset class="submit">
							<select name="choice" style="min-width: 100px;">
								<if test="count($groups)">
									<foreach loop="$groups as $row">
										<php>
											$this->DB->query('SELECT * FROM `fc_groups` WHERE `uid` = '.$row['group_id'].'');
											$group = $this->DB->fetch();
										</php>
										<option value="{$group['uid']}">{$group['desc']}</option>
									</foreach>
								<else />
									<option value="0">(Brak grupy)</option>
								</if>
							</select>
								<input type="submit" value="Przejdź do autoryzacji" name="choose_group" class="ipsButton">
						</fieldset>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>