<ips:template parameters="$online" />
<style>
.boxOut {
/*background: #fff;*/
border: 1px solid #d2d2d2;
-webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
-moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
padding: 6px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
</style>
	<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
                <li><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li class="active"><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
			</ul>
		</div>
		<div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container" id="modcp_content" style="min-height: 254px; ">
			<div class="ipsPad">
				<div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">
<if test="count($online)">
<php>$count = count($online);</php>
<div class="message">Aktualnie w grze znajduje się <b>{$count}</b> aktywnych graczy.</div>
<foreach loop="$online as $row">
<php>
$member = IPSMember::load( $row['global_uid'] );
$czas = time();
</php>

<div class="boxOut" style="width: 175px; height: 40px; display: inline-block; margin-top: 5px;<if test="$member['premium'] >= $czas">background: rgba(238, 201, 0, 0.5);<else />background: #ffff;</if>">

<div class="img s ipsUserPhoto ipsUserPhoto_mini left" style="height:37px; width:37px;">
						<div class="skin" style="background: url('public/skins/{$row['skin']}.png'); border: 1px solid #ccc; ;background-position: 45% 4%; height:35px; width:35px;">
						</div>
					</div>
			<div class="list_content" style="padding-left: 50px;">
				<if test="$row['hide'] & 1">Postać ukryta<else />{$row['name']}</if>
				<p class="desc ipsType_smaller">
					{$row['hours']}h {$row['minutes']}m<br /> <a href="index.php?showuser={$row['owner']}">{IPSMember::makeNameFormatted( $member['members_display_name'],$member['member_group_id'] )}</a>
				</p>
			</div>
</div>
</foreach>
<else />
<div class="message unspecific">Aktualnie nikt nie znajduje się w grze.</div>
</if>
				</div>
			</div>
		</div>