<ips:template parameters="$chars, $charss, $app, $map, $a, $hidenopremium" />
<ips:template parameters="$chars, $charss, $app, $map, $a, $hidenopremium" />
<script type="text/javascript">
function ShowApplication( e )
                {
                                var _url = 'index.php?app=panel&module=ajax&section=newapp&md5check=' + ipb.vars['secure_hash'];
                                new ipb.Popup( 'rep', {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };
</script>
<script type="text/javascript">
function ShowApplication( e )
                {
                                var _url = 'index.php?app=panel&module=ajax&section=newapp&md5check=' + ipb.vars['secure_hash'];
                                new ipb.Popup( 'rep', {type: 'pane', modal: true, w: '700px', h: '500px', ajaxURL: _url, hideAtStart: false, close: '.cancel' } );
                };
</script>


<div class="maintitle ipsFilterbar clearfix">
	<ul class="ipsList_inline">
		<li class="active"><a href="index.php?app=panel&module=character" title="Lista postaci">Postacie</a></li>
		<li><a href="index.php?app=panel&module=online" title="W grze">W grze</a></li>
		<li><a href="index.php?app=panel&module=group" title="Grupy">Grupy</a></li>
		<li><a href="index.php?app=panel&module=map" title="Mapa">Mapa</a></li>
		<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"> <li><a href="index.php?app=panel&module=admin" title="Zaplecze">Zaplecze</a></li> </if>
	</ul>
</div>

<div class="ipsBox">
	<div class="ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body">
		<div class="ipsVerticalTabbed_tabs ipsLayout_left" id="usercp_tabs">
			<ul>
				<li class="active"><a href="index.php?app=panel&module=character">Lista postaci</a></li>
				<li><a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a></li>
				<li><a href="index.php?app=panel&module=character&section=logs">Logi logowań</a></li>
                                <li><a href="index.php?app=panel&module=tickets">Zgłoszenia</a></li>
                                <li><a href="index.php?app=panel&module=premium">Konto premium</a></li>
			</ul>
		</div>
<div class="ipsLayout_content ipsBox_container">
<div class="message error" style="margin:10px;"><b>Użytkownicy postaci, których wiek wskazuje 0 lat proszeni są o napisanie zgłoszenia z nickiem postaci oraz wiekiem.</div><br />
            <if test="count($chars)">
                <foreach loop="$chars as $row">
				
				<div class="bpostac" style="background: <if test="$row['block'] >= 1">rgba(255, 48, 48, 0.5);<else />rgba(153, 204, 50, 0.5);background: <if test="$row['hide'] & 1">rgba(108, 123, 139, 0.5);</if></if> ">
                                        <a href="index.php?app=panel&module=character&section=showchar&uid={$row['player_uid']}">
				        <div class="bhea"><t>ID: {$row['player_uid']}</t></div><br/>
					<img src="public/skins/{$row['last_skin']}.png"><br>
					{$row['name']}<br>
					 {$row['hours']} <strong>h</strong>, {$row['minutes']}<strong>min</strong><br/>
                                         <if test="$row['block'] & 1024">
										 <font color='darkred'><b>Brak biografii</b></font>
										 <else />
										 <if test="$row['block'] & 1">
                            <font color='darkred'>Zablokowana</font>
                        <else />
                            <font color='green'>Aktywna</font>
                        </if></if>

<ol class="ipsList_inline ipsType_small subforums" id="subforums_15">
<php>
$member = IPSMember::load( $row['global_uid'] );
$czas = time();
</php>
<li class="unread"><p><form method="post" action="index.php?app=panel&module=character&uid={$row['player_uid']}"><input type="submit" class="ipsButton_secondary ipsType_smaller" name="hideChar" value="<if test="$row['hide'] == 1">Pokaż<else />Ukryj</if> postać"></form></p></li>
												</ol>
				</div>
                </foreach>
        </a>
<br>
<br>
<br>
<else />
<div style="padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:20px;"><div class="message error">Nie posiadasz jeszcze żadnej postaci. Przejdź do zakładki "<a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a>" aby ją stworzyć.</div></div></if>
</div>
<div class="ipsLayout_content ipsBox_container">
</---------------------------APLIKACJE---------------------/>
					<h2 class="header" style="padding-top: 10px; padding-left: 20px; padding-right:20px;"> Twoje biografie <a href="index.php?app=panel&module=character&section=newbio" class="right ipsButton"><img src='/public/style_images/images/add.png'> Stwórz nową biografię</a></h2><br /><br />
					<table class="ipb_table report_center">
						<tbody>
							<tr class="message unspecific">
								<th scope="col" style="width:30px">Identyfikator</th>
								<th scope="col" style="width:270px">Postać</th>
								<th scope="col" style="width:500px;">Status</th>
								<th scope="col" style="width:500px;">Notatka Administratora</th>
							</tr>
							<if test="count($app)">
								<foreach loop="$app as $a">
									<php>
									$this->DB->query('SELECT `name` FROM `fc_characters` WHERE `player_uid` = '.intval($a['pid']).'');
									$c = $this->DB->fetch();
									$c['name'] = str_replace("_", " ", $c['name']);
									</php>
									<tr>
										<td style="width:30px">{$a['a_uid']}</td>
										<td style="width:270px">{$c['name']}<br /><small>{parse date="$a['dateline']" format="short"}</small></td>
										<td style="width:500px;">{$a['status']}</td>
										<td style="width:500px;"><if test="$a['kolejka'] != 0">Twoja biografia jest <strong>{$a['kolejka']}</strong> w kolejce<else />{$a['notes']}</if></td>
									</tr>
								</foreach>
							<else />
								<tr><td colspan="4">Nie znaleziono żadnych biografii.</td></tr>
							</if>
						</tbody>
					</table>
		
		
</div></div></div>
</-----------------------------------------------------------------------------------------------------------------------/>
<style>
.bbox {
background-color:gold;
float: left; 
}

.bpostac {
width: 150px;
height: 230px;
color: #000000;
float: left;
/*background: rgba(153, 204, 50, 0.5);*/
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
margin-left: 10px;
}
.bpostac img {
height: 120px;
width: 55px;
}
.bhea {
background: rgba(255, 255, 255, 0.6);
height: 20px;
color: #1d3652;
}
.bhea > t {
margin-top: 10px;
float: center;
font-weight: bold;
}
</style>