<ips:template parameters="$maps, $pagination" />
<div class="maintitle ipsFilterbar clear clearfix">
	<ul class="ipsList_inline left">
<li><a href="index.php?app=panel&module=admin">Strona główna</a></li>
<li><a href="index.php?app=panel&module=admin&section=global">Konta globalne</a></li>
<li><a href="index.php?app=panel&module=admin&section=chars">Postacie</a></li>
<li><a href="index.php?app=panel&module=admin&section=groups">Grupy</a></li>
<li><a href="index.php?app=panel&module=admin&section=doors">Drzwi</a></li>
<li><a href="index.php?app=panel&module=admin&section=vehicles">Pojazdy</a></li>
<li><a href="index.php?app=panel&module=admin&section=app">Biografie</a></li>
<li><a href="index.php?app=panel&module=admin&section=listbio">Logi biografii</a></li>
	</ul>
</div>  									
                <div class="ipsVerticalTabbed_content ipsLayout_content ipsBox_container">
                        <div class="ipsPad">                                   
                                   <div class="ipsVerticalTabbed_content ipsLayout_content gamehubMainContent">
<h3 class="maintitle">Lista map (aktywnych)</h3>
<table class="ipb_table report_center">
	<tbody>
		                        <tr class="header">
			                        <td scope="col" class="short">UID</td>
			                        <td scope="col" class="short">Nazwa mapy</td>
			                        <td scope="col" class="short">Użytkownik</td>
			                        <td scope="col" class="short">Data stworzenia</td>
			                        <td scope="col" class="short">Ilość obiektów</td>
			                        <td scope="col" class="short">Opcja</td>
		                        </tr>
			<if test="count($maps)">
				<foreach loop="$maps as $row">
				<php>
					$SQL = $this->DB->query('SELECT * FROM `fc_objects` WHERE `group` = '.$row['uid'].'');
					$licznik = $this->DB->getTotalRows( $SQL );
					$member = IPSMember::load( $row['user'] );
				</php>
					<tr>
						<td scope="col" class="short">{$row['uid']}</td>
						<td scope="col" class="short">{$row['name']}</td>
						<td scope="col" class="short">{IPSMember::makeNameFormatted( $member['members_display_name'],$member['member_group_id'])}</td>
						<td scope="col" class="short">{parse date="$row['date']" format="short"}</td>
						<td scope="col" class="short">{$licznik}</td>
						<td scope="col" class="short"><a href="#" class="ipsButton_secondary" onclick="ShowObjects( this, 1 );"><img src="/public/style_images/master/page_topic_magnify.png" data-tooltip="Pokaż obiekty mapy"></a> <a href="#" class="ipsButton_secondary" onclick="DeleteMap( this, 1 );"><img src="/public/style_images/master/cross.png" data-tooltip="Usuń mapę"></a></td>
					</tr>
				</foreach>
			<else />
				<tr><td colspan="3">Nie znaleziono żadnej nadanej kary.</td></tr>
			</if>
	</tbody>
</table>
<div style="float: right;">{$pagination}</div><br /><br /><br />

<div style="width: 50%; height: auto; float: left; margin: 0 auto;">
<h3 class="maintitle" style="text-align: center;">Usuń nowe obiekty</h3>
<div class="ipsPad">
<textarea rows="4" cols="50" style="margin: 2px; height: 203px; width: 460px;"></textarea>
<fieldset class="submit" id="id_shownext_field">
	<input type="button" class="input_submit" value="Usuń obiekty" />
</fieldset>
</div>
</div>

<div width: 50%; background: #F7FBFC; float: left;">
<h3 class="maintitle" style="text-align: center;">Lista usuniętych obiektów</h3>
<div class="ipsPad"><span style="border-radius: 4px;color: #000;padding: 5px;font-size: 13px;line-height: 140%;font-family: monospace !important;-webkit-border-radius: 4px;">
<p>[<b>M</b>:21212][<b>X</b>:0.0][<b>Y</b>:0.0][<b>Z</b>:0.0][<b>R</b>:0.25] Pomyślnie usunięty</p>
</span></div>
</div>

		</div>
	</div>
</div>