<ips:template parameters="$row, $posts, $edytor" />
<php>
$starter_id_photo = IPSMember::buildProfilePhoto($row['t_starter_id'], 'small');
$member_id = IPSMember::load($row['t_starter_id']);
IPSText::getTextClass( 'bbcode' )->parse_html = 0;
IPSText::getTextClass( 'bbcode' )->parse_bbcode = 1;
IPSText::getTextClass( 'bbcode' )->parse_smilies = 1;
IPSText::getTextClass( 'bbcode' )->parsing_section = 'post';
$post_start = IPSText::getTextClass( 'bbcode' )->preDisplayParse( $row['t_start_message'] );
</php>
<div class='ipsBox'>
<div class='ipsLayout ipsLayout_withleft ipsLayout_smallleft ipsVerticalTabbed clearfix usercp_body'>

<div class='ipsVerticalTabbed_tabs ipsLayout_left' id='usercp_tabs'>
<ul>					
                                <li><a href="index.php?app=panel&module=character">Lista postaci</a></li>
				<li><a href="index.php?app=panel&module=character&section=createchar">Załóż postać</a></li>
				<li><a href="index.php?app=panel&module=character&section=logs">Logi logowań</a></li>
                                <li class="active"><a href="index.php?app=panel&module=tickets">Zgłoszenia</a></li>
                                <li><a href="index.php?app=panel&module=premium">Konto premium</a></li>
</ul>
</if>
</ul>
</div>

<div class='ipsVerticalTabbed_content ipsLayout_content ipsBox_container' id='usercp_content'>
<div class='ipsPad'>

<div style="width: 70%; height: auto; float: left; margin: 0 auto;">
<div style="width: 98%; border: 1px solid #D5DDE5; background: #ffffff;">
<div style="width: 100%; padding: 6px;">
<div style="width: 10%; float: left; margin 3px 5px;">

</div>
<div style="width: 90%; height: auto; float: left; margin 3px 5px;">
<div class="ipsTextBlock ipsPad">
<div class="tracker_post post">

{$post_start}

</div>
<br>
</div>
<div class="desc" style="background: #DDA8A8;
-moz-border-radius: 0 4px 0 4px;
-webkit-border-radius: 0 4px 0 4px;
border-radius: 0 4px 0 4px;
border-width: 1px;
border-style: solid;
margin: 0 3px 3px 3px;
padding: 4px 8px;
color: #fff;
font-size: 11px;
display: inline-block;">
<img src="http://gtav.pl/public/style_images/gtam/icon_follow_freq.png"> Napisano {parse date="$row['t_date']" format="DATE"} przez {parse template="userHoverCard" group="global" params="$member_id"}
</div>
</div>

<div style="clear: both;"></div>
</div>
</div>

<if test="count($posts)">
<foreach loop="$posts as $post">
<php>
$poster_id_photo = IPSMember::buildProfilePhoto($post['t_reply_id'], 'small');
$poster_id = IPSMember::load($post['t_reply_id']);
IPSText::getTextClass( 'bbcode' )->parse_html = 0;
IPSText::getTextClass( 'bbcode' )->parse_bbcode = 1;
IPSText::getTextClass( 'bbcode' )->parse_smilies = 1;
IPSText::getTextClass( 'bbcode' )->parsing_section = 'post';
$reply = IPSText::getTextClass( 'bbcode' )->preDisplayParse( $post['posts'] );
</php>
<div style="width: 98%; margin-top: 10px; border: 1px solid #D5DDE5; background: #ffffff;">
<div style="width: 100%; padding: 6px;">
<div style="width: 10%; float: left; margin 3px 5px;">

</div>
<div style="width: 90%; height: auto; float: left; margin 3px 5px;">
<div class="ipsTextBlock ipsPad">
<div class="tracker_post post">

{$reply}

</div>
<br>
</div>
<div class="desc" style="background: #DDA8A8;
-moz-border-radius: 0 4px 0 4px;
-webkit-border-radius: 0 4px 0 4px;
border-radius: 0 4px 0 4px;
border-width: 1px;
border-style: solid;
margin: 0 3px 3px 3px;
padding: 4px 8px;
color: #fff;
font-size: 11px;
display: inline-block;">
<img src="http://gtav.pl/public/style_images/gtam/icon_follow_freq.png"> Napisano {parse date="$post['date']" format="DATE"} przez {parse template="userHoverCard" group="global" params="$poster_id"}
</div>
</div>
<div style="clear: both;"></div>
</div>
</div>
</foreach>
</if>

<!-- Edytor -->
<div style="width: 98%; margin-top: 10px;>
<div style="width: 100%; padding: 6px;">
<div class="ipsTextBlock ipsPad">

<form method="post" action="index.php?app=panel&module=ajax&section=ticketreply&ticket_id={$row['t_uid']}&md5check={$this->member->form_hash}">
<if test="$row['status'] != Zakończony">
{$edytor}
<input type="submit" name="ticket_reply" class="ipsButton" style="margin-top: 10px;" value="Dodaj odpowiedź" /></center>
<else />
<p class="message unspecific">To zgłoszenie zostało zakończone, nie możesz dodać nowej odpowiedzi. W celu utworzenia nowego zgłoszenia skorzystaj z tego <a href="index.php?app=panel&module=tickets&section=tickets">odnośnika</a>.</p>
</if>
</form>

</div>
<div style="clear: both;"></div>
</div>
</div>


<br />
</div>

<!-- ABC -->
<div style="width: 30%; background: #F7FBFC; float: left; margin-top: -22px;">
<div style="width: 100%; height: auto;">
<table class="ipb_table" style="width: 100%;">
<tbody><tr class="header" style="background: #DBE2EC; color: #204066;">
<td colspan="2"> <img src="public/style_images/images/promote_article.png"> Informacje </td>
</tr>
<tr>
<td style="font-weight: bold;">Identyfikator</td>
<td>#{$row['t_uid']}</td>
</tr>
<tr>
<td style="font-weight: bold;">Typ</td>
<td>{$row['t_type']}</td>
</tr>
<tr>
<td style="font-weight: bold;">Admin</td>
<php>
$member = IPSMember::load($row['admin']);
</php>
<td><if test="$row['admin'] == 0">--<else />{parse template="userHoverCard" group="global" params="$member"}</if></td>
</tr>
<tr>
<td style="font-weight: bold;">Status</td>
<td>{$row['status']}</td>
</tr>
<tr>
<td style="font-weight: bold;">Dodano</td>
<td>{parse date="$row['t_date']" format="DATE"}</td>
</tr>
<tr>
<td style="font-weight: bold;">Liczba odpowiedzi</td>
<td><if test="$row['reply'] == 0">--<else />{$row['reply']}</if></td>
</tr>
<tr>
<td style="font-weight: bold;">Ostatnia odpowiedź</td>
<td>{parse date="$row['last_reply']" format="DATE"}</td>
</tr>
</tbody></table>
</div>
</div>
<if test="$this->memberData['member_group_id'] == 4">
<div style="width: 30%; background: #F7FBFC; float: right; margin-top: 15px;">
<div style="width: 100%; height: auto;">
<table class="ipb_table" style="width: 100%;">
<tbody><tr class="header" style="background: #DBE2EC; color: #204066;">
<td colspan="2"> <img src="public/style_images/images/folder_edit.png"> Opcje </td>
</tr>
<tr>
<td style="font-weight: bold;">Status</td>
<form method="post" action="index.php?app=panel&module=ajax&section=ticketstatus&ticket_id={$row['t_uid']}&md5check={$this->member->form_hash}">
<td><select name="add_type" class="input_text"> 
<option <if test="$row['status'] == Nowy">selected</if> value="0"> Nowy </option> 
<option <if test="$row['status'] == Przyjęty">selected</if> value="1"> Przyjęty </option> 
<option <if test="$row['status'] == Konwersacja">selected</if> value="2"> Konwersacja </option> 
<option <if test="$row['status'] == Realizacja">selected</if> value="3"> Realizacja </option> 
<option <if test="$row['status'] == Rozwiązany">selected</if> value="4"> Rozwiązany </option> 
<option <if test="$row['status'] == Zakończony">selected</if> value="5"> Zakończony </option>
</select></td>
</tr>
<tr>
</tbody></table><br /><center>

<input type="submit" name="ticket_status_change" class="ipsButton" value="Zapisz" /></center><br /><br />
</form>
</div>
</div>
</if>


</div>
</div>
</div>
</div>