<h3> Dodawanie adresu IP </h3>

<div id="newsAjaxBox" class="hrpChange clear">
	<form method="post" action="index.php?app=panel&module=ajax&section=addip&md5check={$this->request['md5check']}">
		<table width="100%;" class="ipb_table">
			<tbody>
				<tr>
					<td> Konto globalne </td>
					<td> <input type="text" class="input_text" style="width: 10%;" maxlength="2" value="{$this->memberData['member_id']}" disabled /> </td>
				</tr>
				<tr>
					<td> Adres IP </td>
					<td> <input type="text" class="input_text" style="width: 50%;" maxlength="12"  value="{$_SERVER['SERVER_ADDR']}" /> </td>
				</tr>
				<tr>
					<td colspan='2'> <input type="submit" name="add_ip" class="ipsButton" value="Dodaj adres" /> </td>
				</tr>
			</tbody>
		</table>
	</form>
</div>