<ips:template parameters="$characters, $logs, $members" />
{parse striping="row" classes="row1,row2"}

<style tyle="text/css">
	.hook { line-height: 12px !important;text-align:center;height:auto;width:auto;min-width:100px;padding:5px;margin-bottom:10px !important; }
	.hook.inactive { opacity:0.3; }
	.hook.inactive:hover { opacity:0.7; }
	.hook span{ font-size: 0.85em; }
</style>

<div class="ipsPad">
	<if test="count($characters)">
<div class="message unspecific">Postacie</div><br />
		<ul class="ipsList_inline">
			<foreach loop="$characters as $row">
				<li class="ipsButton_secondary hook" style="<if test="$row['block'] & 1">opacity: 0.6;<else /></if>">
						<if test="$row['hide'] & 1"><img src="/public/skins/hide.png" alt="{$row['name']}" style="height: 120px;width: 55px;"><else /><img src="/public/skins/{$row['last_skin']}.png" style="height: 120px;width: 55px;"></if>
						
						<br />
						
						<span class="hnick">
							<if test="$row['hide'] & 1">Postać ukryta<else />{$row['name']}</if>
						</span>
						
						<br />
						
						<span>
							{$row['hours']}h, {$row['minutes']}min
						</span><br />
<span>
<if test="$this->memberData['member_group_id'] == 4 || $this->memberData['member_group_id'] == 6 || $this->memberData['member_group_id'] == 7 || $this->memberData['member_group_id'] == 9"><a href="index.php?app=panel&module=character&section=showchar&uid={$row['player_uid']}" style="color:red;">Zbadaj postać</a></if>
</span>
					</a>
				</li>
			</foreach>
		</ul>
	<else />
<div class="message unspecific">Postacie</div><br />
		<div class="message">
			<if test="$member['member_id'] == $this->memberData['member_id']">
				Nie posiadasz żadnych postaci. Załóż nową postać <a href="index.php?app=panel&module=character&section=createchar">tutaj</a>.
			<else />
				Gracz nie posiada żadnych postaci.
</div>			
</if>
		</div>
	</if>
</div>
<if test="count($logs)">
	<table class="ipb_table report_center">
		<caption class="message unspecific">Logi</caption>
			<tbody>
				<tr class="header">
					<th scope="col">Nadano</th>
					<th scope="col">Postać</th>
					<th scope="col">Powód</th>
				</tr>
				<foreach loop="$logs as $row">
				<php>
					$this->DB->query('SELECT name FROM fc_characters WHERE player_uid = '. $row['penalty_user_char_id'] .'');
					while($char = $this->DB->fetch())
					{
						$row['char_name'] = str_replace('_', ' ', $char['name']);
					}
$member = IPSMember::load( $row['penalty_admin_global_id'] );
				</php>

					<tr class="{parse striping="row"}">
						<td>{parse date="$row['penalty_dateline']" format="short"}<br> przez: <a href="index.php?showuser={$member['member_id']}">{IPSMember::makeNameFormatted( $member['members_display_name'],$member['member_group_id'] )}</a></td>
						<td>{$row['char_name']}<br>{$row['penalty_type']}</td>
						<td>{$row['penalty_reason']}</td>
					</tr>
				</foreach>
			</tbody>
	</table>
<else />
<div class="message unspecific">Logi</div>
	<div class="message">Gracz nie posiada żadnych wpisów w logach</div>
</if>